@import "tailwindcss";

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.25);
  border-right-color: rgba(255, 255, 255, 0.7);
  animation: rotate 1s infinite linear;
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}


